body {
  margin: 20px;
}
/* Button Styles */
button {
  text-transform: uppercase;
}

#refresh {
  width: 200px;
  height: 50px;
}

/* Row Styles */

.row-content {
  margin-top: 20px;
  min-height: 200px;
  border-bottom: 1px ridge;
}
